<div class = "container" style="margin-top:100px" >
  <div class="row">
    <div class="col-sm-4">
      <%= render('subscription_card', header: "Подписка M", descr: "1 month", cost: 250, id: 1) %>
    </div>
    <div class="col-sm-4">
      <%= render('subscription_card', header: "Подписка L", descr: "3 month", cost: 500, id: 2) %>
    </div>
    <div class="col-sm-4">
      <%= render('subscription_card', header: "Подписка XL", descr: "6 month", cost: 800, id: 3) %>
    </div>
  </div>
</div>
